html,body{min-height:100%;height:100%}

.liquid {
  max-width: none !important;
}
.liquid .body{
  max-width:740px;
  margin:0 auto;
}
.header .inner{
  height:60px;
  background-color: rgb(88,88,88);
  color: white;
}
.bg-gardr {
  background-color: rgb(88,88,88);
}
.gardr-header {
  padding-bottom: 40px !important;
}
.mainc{
  padding-top:10px;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #000 no-repeat 95% 50%;
  font-weight: 700;
}
.mainc li {
  list-style: square;
  margin-left: 20px;
}