---
layout: default
title: Gardr homepage intro
---

<div class="mod">
    <div class="inner  bg-opaque">
        <div class="bd">
            <p>
            This is the documentation web site<br>
            This is the documentation web site<br>
            This is the documentation web site<br>
            This is the documentation web site<br>
            This is the documentation web site<br>
            This is the documentation web site<br>

        </div>
    </div>
</div>
<!--
    {% for post in site.posts %}
    <article>
        <h1>
            <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
            </a>
        </h1>
        {{ post.content }}
    </article>
    {% endfor %}
-->
{% include archive.html %}
