html,body{min-height:100%;height:100%}

.liquid {
  max-width: none !important;
}
.liquid .body{
  max-width:740px;
  margin:0 auto;
}
.header .inner{
  height:60px;
  background-color: rgb(88,88,88);
  color: white;
}
.bg-gardr {
  background-color: rgb(88,88,88);
}
.gardr-header {
  padding-bottom: 40px !important;
}
.mainc{
  padding-top:10px;
}
.gardrbig{
/*  background:transparent url("../images/gardr-small.png");
  position:relative;
  display: block;
  height: 147px;
  width: 200px;
  margin: 0 auto;
  top:46px;*/
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #000 no-repeat 95% 50%;
  font-weight: 700;
}

@media screen and (min-width:768px) {
  .gardrbig{
    background:transparent url("../images/gardr.png");
    background-size: 400px auto;
    height:298px;
    width:400px;
    top:40px;
    }
  .header .inner{
    height: 70px;
  }
  .mainc{
    padding-top:20px;
    padding-bottom:40px;
  }
}
/*
@media screen and (-webkit-min-device-pixel-ratio: 2) , screen and (max-moz-device-pixel-ratio: 2) {
    .gardrbig{
      background:transparent url("../images/gardr.png");
      background-size:200px auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:768px), screen and (max-moz-device-pixel-ratio: 2) and (min-width:768px) {
    .gardrbig{
      background:transparent url("../images/gardr-x2.png");
      background-size:400px auto;
}
*/