html,body{min-height:100%;height:100%}

.liquid {
  max-width: none !important;
}
.liquid .body{
  max-width:640px;
  margin:0 auto;
}
.header .inner{
  height:160px;
  background-image: linear-gradient(bottom, rgb(75,26,86) 18%, rgb(113,42,134) 85%);
  background-image: -o-linear-gradient(bottom, rgb(75,26,86) 18%, rgb(113,42,134) 85%);
  background-image: -moz-linear-gradient(bottom, rgb(75,26,86) 18%, rgb(113,42,134) 85%);
  background-image: -webkit-linear-gradient(bottom, rgb(75,26,86) 18%, rgb(113,42,134) 85%);
  background-image: -ms-linear-gradient(bottom, rgb(75,26,86) 18%, rgb(113,42,134) 85%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.18, rgb(75,26,86)),
    color-stop(0.85, rgb(113,42,134))
  );
}
.mainc{
  padding-top:20px;
}
.pastiesbig{
  background:transparent url("../images/pasties-small.png");
  position:relative;
  display: block;
  height: 147px;
  width: 200px;
  margin: 0 auto;
  top:46px;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}






@media screen and (min-width:768px) {
  .pastiesbig{
    background:transparent url("../images/pasties.png");
    background-size: 400px auto;
    height:298px;
    width:400px;
    top:40px;
    }
  .header .inner{
    height: 270px;
  }
  .mainc{
    padding-top:60px;
    padding-bottom:80px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) , screen and (max-moz-device-pixel-ratio: 2) {
    .pastiesbig{
      background:transparent url("../images/pasties.png");
      background-size:200px auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:768px), screen and (max-moz-device-pixel-ratio: 2) and (min-width:768px) {
    .pastiesbig{
      background:transparent url("../images/pasties-x2.png");
      background-size:400px auto;
}